[alias]
  ci = commit -v
  co = checkout
  st = status -sb
  br = branch -vv
  last = log -1 HEAD
  sn = !bash -c 'git checkout -b snapshot_$(/usr/bin/env date "+%y%m%d_%H%M%S")'
  unstage = reset HEAD --
  lg = log --graph -12 \
--date=format:'%a %b %d, %H:%M' \
--pretty=format:'\
%C(yellow)%h%Creset\
%C(yellow)%<(72,trunc)%d%Creset \
%C(green)(%cd)%Creset \
%C(bold cyan)<%cN>%Creset \
%n\
%w(80)%s\
%n'
  summary = !/usr/bin/env bash -c '\
    git log --pretty=oneline \
    --abbrev-commit \
    --committer=$(git config user.email) \
    --no-merges \
    --reverse \
    --since=$(date -u +"%Y-%m-%dT00:00:00") \
    --use-mailmap \
  '
[user]
  name = Vincent Zhang
  email = v.zh@msn.com
[github]
  user = vincentzhezhang
[gui]
  editor = gedit
  historybrowser = gitk
[core]
  editor = nvim
[color]
  ui = auto
[color "branch"]
  current = cyan reverse
  local = cyan
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache
[diff]
  tool = meld
[merge]
  tool = meld
  confictstyle = diff3
  conflictstyle = diff3
[push]
  default = simple
[cola]
  fontdiff = Input Mono,14,-1,5,50,0,0,0,0,0
  fontdiff = Input,12,-1,5,50,0,0,0,0,0
  tabwidth = 2
  textwidth = 80
  boldheaders = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
