[alias]
  ci = commit -v
  co = checkout
  st = status -sb
  br = branch -vv
  brr = !/usr/bin/env bash -c '\
    git for-each-ref \
    --sort=\"-committerdate\" refs/heads/ \
    --format=\"%(HEAD) %(color:yellow)%(refname:short)%(color:reset)|\
    %(color:red)%(objectname:short)%(color:reset)|\
    (%(color:green)%(committerdate:relative)%(color:reset))|\
    %(authorname)|\
    %(contents:subject)\"\
    | column -t -s \"|\"\
  '
  last = log -1 HEAD
  sn = !bash -c 'git checkout -b snapshot_$(/usr/bin/env date "+%y%m%d_%H%M%S")'
  unstage = reset HEAD --
  lg = log --graph -18 \
--date=iso \
--pretty=format:'\
%C(yellow)%h%Creset \
%C(green)[%ad]%Creset \
%C(magenta)<%aN>%Creset\
%C(cyan)%d%Creset%n \
%w(80)%s%n'
  summary = !/usr/bin/env bash -c '\
    git log --pretty=oneline \
    --abbrev-commit \
    --author=$(git config user.email) \
    --no-merges \
    --reverse \
    --since=$(date -u +"%Y-%m-%dT00:00:00") \
    --use-mailmap \
  '
  birth = log --diff-filter=A --
[user]
  name = Vincent Zhang
  email = v.zh@msn.com
[github]
  user = vincentzhezhang
[gui]
  editor = gedit
  historybrowser = gitk
  diffcontext = 6
[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[color "branch"]
  current = cyan reverse
  local = cyan
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache
[diff]
  tool = meld
[merge]
  tool = vimdiff
  confictstyle = diff3
  conflictstyle = diff3
[push]
  default = simple
[cola]
  fontdiff = Ubuntu Mono,12,-1,5,50,0,0,0,0,0
  tabwidth = 2
  textwidth = 80
  boldheaders = true
  savewindowsettings = true
  blameviewer = git gui blame
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[merge "tool"]
  path = nvim
[log]
  mailmap = true
[http]
  sslverify = false
  proxy = ch1prdprx01.akunacapital.local:8888

