[alias]
  ci = commit -v
  co = checkout
  st = status -sb
  br = branch -vv
  brr = !/usr/bin/env bash -c '\
    git for-each-ref \
    --sort=\"-committerdate\" refs/heads/ \
    --format=\"%(HEAD) %(color:yellow)%(refname:short)%(color:reset)|\
    %(color:red)%(objectname:short)%(color:reset)|\
    (%(color:green)%(committerdate:relative)%(color:reset))|\
    %(authorname)|\
    %(contents:subject)\"\
    | column -t -s \"|\"\
  '
  last = log -1 HEAD
  sn = !bash -c 'git checkout -b snapshot_$(/usr/bin/env date "+%y%m%d_%H%M%S")'
  unstage = reset HEAD --
  un = reset HEAD --
  lg = log --graph \
--date=iso \
--pretty=format:'\
%C(yellow)%h%Creset \
%C(green)[%ad]%Creset \
%C(magenta)<%aN>%Creset\
%C(cyan)%d%Creset%n \
%w(80)%s%n'
  summary = "!f(){ \
    git log \
    --oneline \
    --decorate='' \
    --abbrev-commit \
    --author=$(git config user.email) \
    --no-merges \
    --reverse \
    --since=$(date -u +\"%Y-%m-%dT00:00:00\") \
    --use-mailmap; \
  }; f"
  birth-info = log --diff-filter=A --
  review = "!f(){ git branch -f \"review/$1\" \"origin/$1\" && git checkout -f \"review/$1\"; }; f"
  finish-review = !bash -c 'git checkout -f master && git branch --no-color | cut -c 3- | grep "^review/" | xargs -r git branch -D'
  detailed-log = log --graph --decorate --stat --date=iso
[user]
  name = Vincent Zhang
  email = v.zh@msn.com
[github]
  user = vincentzhezhang
[gui]
  editor = gedit
  historybrowser = gitk
  diffcontext = 6
[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[color "branch"]
  current = cyan reverse
  local = cyan
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache --timeout=604800
[diff]
  tool = meld
[merge]
  tool = meld
  confictstyle = diff3
  conflictstyle = diff3
[blame]
  date = format:%Y-%m-%d %H:%M
[push]
  default = simple
[cola]
  fontdiff = Ubuntu Mono,9,-1,5,50,0,0,0,0,0
  tabwidth = 2
  textwidth = 80
  boldheaders = true
  savewindowsettings = true
  blameviewer = git gui blame
  spellcheck = false
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[merge "tool"]
  path = nvim
[log]
  mailmap = true
