[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset%C(yellow)%d%Creset %s %C(green)(%cd)%Creset %C(bold cyan)<%aE>%Creset' --abbrev-commit --date=short
  sn = !bash -c 'git checkout -b snapshot_$(/bin/date "+%y%m%d_%H%M%S")'
  report = log --pretty=oneline --author='vincent\\|Vincent' --abbrev-commit --since='14.hours' --no-merges --reverse

[user]
  name = Vincent Zhang
  email = v.zh@msn.com

[github]
  user = vincentzhezhang

[gui]
  editor = gedit
  historybrowser = gitk
[core]
  editor = vim
  excludesfile = /Users/vincent/.gitignore_global
[color]
  ui = auto
[color "branch"]
  current = cyan reverse
  local = cyan
  remote = magenta
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache
[diff]
  tool = meld
[merge]
  tool = meld
  confictstyle = diff3
  conflictstyle = diff3
[push]
  default = simple
[cola]
  fontdiff = Source Code Pro for Powerline,14,-1,5,50,0,0,0,0,0
  tabwidth = 2
  textwidth = 80
  boldheaders = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
